<h1>Nice video about the idea of Eigenvectors</h1>
<iframe src="https://www.youtube.com/embed/PFDu9oVAE-g" width="95%" height="400px" allow="fullscreen;"></iframe>

<h1>Real eigenvalues</h1>


<iframe src="https://www.youtube.com/embed/G4N8vJpf7hM" width="95%" height="400px" allow="fullscreen;"></iframe>

<h1>Complex Eigenvalues</h1>

<iframe src="https://www.youtube.com/embed/NmHBGIC1_Z0" width="95%" height="400px" allow="fullscreen;"></iframe>


<h1>Repeated Eigenvalues</h1>
<iframe src="https://www.youtube.com/embed/s9fIs4Y2EDs" width="95%" height="400px" allow="fullscreen;"></iframe>
