<h1>Laplace Transform</h1>
<h2>Theory: Part 1</h2>
<iframe src="https://www.youtube.com/embed/OiNh2DswFt4" width="95%" height="400px" allow="fullscreen;"></iframe>
<h2>Theory:Part 2</h2>
<iframe src="https://www.youtube.com/embed/33TYoybjqPg" width="95%" height="400px" allow="fullscreen;"></iframe>

<h2>Solving Equations: Part 1</h2>
<iframe src="https://www.youtube.com/embed/3uYb-RhM7lU" width="95%" height="400px" allow="fullscreen;"></iframe>

<h2>Solving Equations: Part 2</h2>
<iframe src="https://www.youtube.com/embed/EdQ7Q9VoF44" width="95%" height="400px" allow="fullscreen;"></iframe>
