{% extends "base_site.html" %}
{% block content %}
<p> This will just have lists of videos I think are useful. </p>
<h1>Linear Resources</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Topics</th>
    </tr>
    {% if Lin_Topics %}
        {% for topic in Lin_Topics %}
            <tr>
                <td><a href="{% url 'Lin:topic' weight=topic.weight %}"> {{topic.topic_title}}</a></td>
                <td>{{topic.topic_description}}</td>
            </tr>
        {% endfor %}
    {% endif %}

</table>

{% endblock content %}