<div class="topnav">
  <div>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'Math_161:index' %}">Math 161: Calc 2</a>
    <div class="dropdown">
      <a href="{% url 'WebsiteProgress:index' %}">Website Progress </a>
      <div class="dropdown-content">
        {% for phase in All_Phases %}
        <a href="{% url 'WebsiteProgress:phase' phase.id %}"
          >Phase {{phase.id}}</a
        >
        {% empty%} {% endfor %}
      </div>
    </div>
  </div>
  {% if request.user.is_authenticated %}
  <div class="login">
    <a href="{% url 'profile' %}" class="right"> Profile</a>
    <a href="{%url 'logout'%}" class="right"> Logout</a>
  </div>
  {% else %}
  <div class="login">
    <a href="{% url 'login' %}" id="log"> Login</a>
  </div>
  {%endif %}
</div>
