<div class ="sidenav-container">
    <div class="scroller">
        <div class="sidenav">
            <ul>
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="has-sub-menu">
                    <a href="{% url 'Lin:index' %}">Linear Algebra<span>+</span></a>
                </li>
                {% for topic in Lin_Topics %}
                <li class="has-sub-menu">
                    <a href="{% url 'Lin:index' %}">{{topic.topic_title}}<span>+</span></a>
                </li>
                {% endfor %}
            </ul>
            <div class="sidebar-footer">

            </div>
        </div>
    </div>
</div>