{% extends "base_site.html" %}
{% block content %}
<h1>Structure of Course</h1>
{% if weeks %}
    <table>
        <tr>
            <th>Week Number</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Friday</th>
            <th>Quiz</th>
        </tr>
        {% for week in weeks %}
        	{% if week.is_published %}
                <tr>
                    <td>
                        <a href="{% url 'Math_161:week' week_num=week.week_num %}">Week {{week.week_num}}</a>
                    </td>
                    {% for day in week.days.all %}
                        {%if day.day != "Friday"%}
                            <td>
                                <a href="{% url 'Math_161:day' week_num=week.week_num  day=day %}"> {{day.day }}</a>
                            </td>
                        {%else%}
                            {%if week.quiz_Boolean%}
                            <td>
                                <a href="{% url 'Math_161:day' week_num=week.week_num  day=day %}"> {{day.day }}</a>
                            </td>
                            {%else%}
                            <td colspan="2">
                                Exam Week
                            </td>
                            {%endif%}

                        {%endif%}

                    {% endfor %}
                    {% if week.quiz_Boolean %}
                        <td>
                            <a href="{% url 'Math_161:quiz' week_num=week.week_num%}">Quiz</a> 
                        </td>
                    {% endif %} 
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}

<h1>Previous Quizzes List</h1>
<a href="{% url 'Math_161:QuizList'%}">Here</a> is a link to all the previous quizzes for reference.
{% endblock content %}