{% extends "base_site.html" %}
{% block content %}

{% if weeks %}
    <table>
        <tr>
            <th>Week Number</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Friday</th>
            <th>Quiz</th>
        </tr>
        
        {% for week in weeks %}
        <tr>
            <td>
                <a href="{% url 'Math_161:week' week_num=week.week_num %}">Week {{week.week_num}}</a>
            </td>
            {% for day in week.days.all %}
                <td>
                    <a href="{% url 'Math_161:day' week_num=week.week_num  day=day %}"> {{day.day }}</a>
                </td>
            {% endfor %}
            {% if week.quiz_Boolean %}
                <td>
                    Quiz
                </td>
            {% else %}
                <td>
                    No Quiz
                </td>
            {% endif %}
            
        </tr>
        {% endfor %}

    </table>

{% endif %}

{% endblock content %}