{% extends "base_site.html" %}
{% block content %}
{% if weeks %}
    <table>
        <tr>
            <th>Week Number</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Friday</th>
            <th>Quiz</th>
        </tr>
        {% for week in weeks %}
        	{% if week.is_published %}
                <tr>
                    <td>
                        <a href="{% url 'Math_161:week' week_num=week.week_num %}">Week {{week.week_num}}</a>
                    </td>
                    {% for day in week.days.all %}
                        <td>
                            <a href="{% url 'Math_161:day' week_num=week.week_num  day=day %}"> {{day.day }}</a>
                        </td>
                    {% endfor %}
                    {% if week.quiz_Boolean %}
                        <td>
                            <a href="{% url 'Math_161:quiz' week_num=week.week_num%}">Quiz</a>
                        </td>
                    {% else %}
                        <td>
                            Exam Week
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}
{% load static %}
<div style="position:relative;padding-bottom:56.25%;">
    <!-- 56.25 comes from aspect ratio of 16:9, change this accordingly -->
    <iframe
        style="width:95%;height:50%;position:absolute;left:0px;top:0px;"
        frameborder="0"
        width="100%"
        height="100%"
        allowfullscreen
        allow="autoplay"
        src="{% static 'deriv.html' %}">
    </iframe>
</div>
{% endblock content %}