{% extends "base_site.html" %}
{% block content %}
<!-- Need to Automatically get script from html template.  -->
{% with week_num=week_num|stringformat:"i" %}
    {% include ""|add:"Week_"|add:week_num|add:"/Quiz.html" %}
{% endwith %}
<!-- Get The worksheet Prep -->
<h2>Rubric that will be used</h2>
{% if quiz.Rubric_source == "#" %}
    <p>The Rubric has not been uploaded yet.</p>
{% else %}
<p>The rubric for the quiz can be found <a href="{{quiz.Rubric_source}}">here.</a></p>
{% endif%}


<!-- Actual quiz if it is there -->
{% if quiz.release_answer_key %}

    <h2>The quiz</h2>
    Here is the <a href="{{quiz.quiz_here_source}}">Quiz</a> we had.

    <h2>The answer key</h2>
    Here is the <a href="{{quiz.quiz_answer_source}}">Answer key</a>.
{% endif %}
<br/>
<br/>
<hr>
{% if previous_quiz %}
    <a href="{% url 'Math_161:quiz' week_num=previous_quiz.week.week_num%}">&laquo; Previous Quiz</a> 
{%endif%}

Quiz {{quiz.quiz_num}} out of {{quiz_total}}

{% if next_quiz %}
    <a href="{% url 'Math_161:quiz' week_num=next_quiz.week.week_num%}"> Next Quiz &raquo;</a> 
{%endif%}


{% endblock content %}