{% extends "base_site.html" %}
{% block content %}

{% with week_num=week.week_num|stringformat:"i" %}
    {% include ""|add:"Week_"|add:week_num|add:"\\Week.html" %}
{% endwith %}
<table>
    <tr>
        <th>Day</th>
        <th>Description</th>
    </tr>
    {% for day in week.days.all %}
    <tr>
        <td>
            <a href="{% url 'Math_161:day' week_num=week.week_num  day=day %}"> {{day.day }}</a>
        </td>
        <td>
            {{day.day_description}}
        </td>
    </tr>
    {% endfor %}
    {% if quiz_here%}
        <tr>
            <td>
                <a href="{% url 'Math_161:quiz' quiz_num=Quiz.quiz_num %}"> Quiz</a>
            </td>
            <td>
                {{Quiz.description}}
            </td>
        </tr>
    {% endif%}

</table>


{% include "calcCenter.html" %}
<h1> Google doc</h1>
<p>What <a href ="https://docs.google.com/forms/d/e/1FAIpQLScsBDMvX1j9QRg39nZHnhx9xXN5qIEDn3KZTJ1VBf1g-jh4oQ/viewform?usp=sf_link">suggestions</a> do you have?</p>

{% endblock content %}