<h1>Welcome!</h1>
<h2>Intro</h2>
<p>Welcome to Math 161! I am going to be your instructor and I hope that find this experience educational.</p>
<h2>Structure of class</h2>
<p>With each class I will be handing out a worksheet of notes. You should still bring scratch paper as you will need some but the hope is to have a nice clean set of notes that build upon concepts to help build your understanding.
</p>
<p>
    The format of the class will be that I will try to build a good reason and intuition about what we are trying to do, do a couple of examples and then get you doing some practice on the worksheets yourself. To understand mathematics you need plenty of practice and I intend to start from day 1 with that approach.
</p>
<p>
    Sometime in maths, seeing multiple different approaches can be useful for understanding. As such for each day I am planning on gathering a couple of youtube videos that could be useful for ye to watch. They will be on the webpage for that day.
</p>
<h2>Expectations of you</h2>
<p>Calc 2 is a class that a lot of students have difficulty with. I am going to try help you over those obstacles but at the same time I have expectation of you. </p>

<p>
    As your teacher, I should try to give you the best advice for tackling a problem that I can. To do this I need as much accurate information as I can get. In this regard, sometimes students don't start a problem if they do not know how to complete the entire problem.
    As your teacher, the best indicator I have when I am walking around a classroom to what your difficulty is is the place you stopped. I will expect you to start problems and go as far as you can so that I can provide accurate feedback. Also my feedback will often ask you
    do you have similar problems that you have encountered before? To talk to you about the reason you choose operations and the order that they come in.
</p>

<p>
    I do not want to see people listening to headphones in class while I am teaching. It is disrespectful.
</p>

<h2>Format of webpage</h2>
<p>There will be a couple of headings discussing things that you will use during this week (such as this one) and an overview of what we will be covering. To get the cliff notes and the actual notes you can scroll down to the table where there is a link to each day of notes and a short description discussing what we will be covering that day. </p>
<p>At the end of every week or day webpage, there will be a link to the calculus center hours, the location of the calculus center and a google doc where you can make suggestions annonymously if you wish.</p>

<h2>This week</h2>
<p>This week will be a refresher on derivatives and moving onto Taylor series.</p>